.screen {
    position: relative;

    padding: $padding-top $padding-left;

    font-size: rem(14px);

    @include unselectable();

    @include respond-to('large') {
        padding: $padding-top-l $padding-left-l;

        font-size: rem-l(17px);
    }

    &.is-complete {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: transparent;

    @include unselectable();
}

.container {
    display: flex;

    position: relative;

    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.message-complete {
    position: absolute;
    top: calc(50% - 0.5em);
    left: 0;

    width: 100%;

    text-align: center;

    pointer-events: none;

    @include unselectable();
}

.time {
    margin-bottom: vw(11px);

    font-size: rem(14px);

    @include respond-to('large') {
        margin-bottom: vw-l(11px);

        font-size: rem-l(17px);
    }
}

.screen-footer {
    display: flex;

    justify-content: space-between;
    align-items: flex-end;

    margin-top: vw(11px);

    @include respond-to('large') {
        margin-top: vw-l(11px);
    }
}

.arrow-down {
    width: vw(8px);
    height: auto;

    margin-left: vw(3px);

    @include respond-to('large') {
        width: vw-l(10px);

        margin-left: vw-l(5px);
    }
}

.name {
    text-align: right;
}