.button-stop {
    opacity: 0;

    height: 100%;

    font-size: rem(13px);
    color: rgba(255, 0, 0, 1);
    text-transform: uppercase;

    transition: color 0.2s ease-out;

    cursor: pointer;

    @include respond-to('large') {
        height: 100%;

        font-size: rem-l(17px);
    }

    @media (hover: hover) {
        &:hover {
            color: rgba(255, 0, 0, 0.7);
        }
    }
}