// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-grey: rgba(127, 127, 127, 1);

// Fonts
$font-mono: 'Default Sans';

// Font sizes
$base-font-size: 1vw;

// Sizes
$padding-top: 9px;
$padding-left: 10px;
$footer-height: 40px;

$padding-top-l: 12px;
$padding-left-l: 13px;
$footer-height-l: 40px;

// Fluid type
$viewport-width-small: 375px;
$viewport-width-medium: 768px;
$viewport-width-large: 1920px;

// Breakpoints
$breakpoints: (
    'small': (min-width: 0,),
    'medium': (min-width: 500px,),
    'large': (min-width: 850px,),
);

// Easings


:export {
    baseFontSize: $base-font-size;
    viewportWidthSmall: $viewport-width-small;
    viewportWidthMedium: $viewport-width-medium;
    viewportWidthLarge: $viewport-width-large;
}
