.censorship-range-error {
    position: relative;

    width: 100%;
    height: auto;

    overflow: hidden;

    padding: vw(13px) vw(16px);

    @include respond-to('large') {
        position: absolute;
        top: 0;
        left: vw-l(41px);

        width: vw-l(550px);

        padding: vw-l(13px) vw-l(16px);
    }
}

.square {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: solid 1px white;

    transform: scale(0);

    transform-origin: right top;

    border-color: white;
}

.content {
    opacity: 0;

    color: white;
}
