.warning {
    opacity: 0;

    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: content-height();

    padding: content-padding();

    background-color: black;

    @include respond-to('large') {
        height: content-height-l();

        padding: content-padding-l();
    }
}

.container {
    width: vw(250px);

    margin: auto;

    text-align: center;
    
    @include respond-to('large') {
        width: vw-l(600px);
    }
}

.heading {
    margin-bottom: vw(10px);

    font-size: rem(14px);

    color: red;
    
    @include respond-to('large') {
        margin-bottom: vw-l(28px);

        font-size: rem-l(25px);
    }
}