.block-quotes {
    text-transform: uppercase;

    &.right {
        .content {
            margin-right: 0;
            margin-left: auto;
        }
    }
}

.heading {
    width: 100%;

    margin-bottom: vw(100px);

    font-size: rem(50px);

    @include respond-to('large') {
        width: vw-l(675px);

        margin-bottom: vw-l(100px);

        font-size: rem-l(50px);
    }

    &::v-deep {
        b {
            color: red;
        }

        .line {
            display: inline-block;
            position: relative;

            color: transparent;
        }

        .highlight {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 1em;

            background-color: $color-white;

            transform: scaleX(0);

            transform-origin: left top;
        }
    }
}

.content {
    position: relative;

    width: 100%;

    font-size: rem(25px);

    @include respond-to('large') {
        width: vw-l(675px);

        font-size: rem-l(25px);
    }
}

.quotes-list-item {
    margin-bottom: vw(80px);

    @include respond-to('large') {
        margin-bottom: vw-l(152px);
    }

    &:last-child {
        margin-bottom: 0;
    }
}