html {
    font-family: $font-mono, Arial, Helvetica, sans-serif;
    font-size: $base-font-size;
    color: white;

    background-color: black;

    overscroll-behavior-y: none;
}

body {
    overflow-y: scroll;

    font-size: rem-l(30px);

    background-color: black;
    
    overscroll-behavior-y: none;
}

* {
    box-sizing: border-box;
}