html {
    font-family: $font-mono, Arial, Helvetica, sans-serif;
    font-size: $base-font-size;
    color: white;

    background-color: black;
}

body {
    font-size: rem-l(30px);

    background-color: black;
}

* {
    box-sizing: border-box;
}