.prototype {
    text-transform: uppercase;

    > div {
        visibility: hidden;

        pointer-events: none;
    }

    .is-enable {
        visibility: visible;

        pointer-events: all;
    }
}