.footer {
    display: flex;

    position: absolute;
    bottom: 0;
    left: 0;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: vw($footer-height);

    padding-right: $padding-left;
    padding-left: $padding-left;

    background-color: black;

    @include unselectable();
    
    @include respond-to('large') {
        height: vw-l($footer-height-l);

        padding-right: $padding-left-l;
        padding-left: $padding-left-l;
    }
}

.instructions {
    position: absolute;
    right: 0;
    left: 0;

    width: 50%;

    margin: auto;

    text-align: center;
}