.preloader {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    * {
        @include unselectable();
    }

    .loading-message {
        opacity: 0;

        position: absolute;
        top: $padding-top * 2;
        left: $padding-left * 2;

        font-size: rem(17px);

        text-transform: uppercase;

        @include respond-to('large') {
            top: $padding-top-l * 2;
            left: $padding-left-l * 2;

            font-size: rem-l(17px);
        }
    }
}

.point {
    opacity: 0;
}