.screen-active {
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: content-height();

    padding: content-padding();

    @include respond-to('large') {
        height: content-height-l();

        padding: content-padding-l();
    }
}

.screen {
    width: 100%;
    height: 100%;

    border: solid 1px rgba(255, 255, 255, 0.5);
}