.menu {
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: black;
}

.screens-container {
    display: flex;

    position: relative;

    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}
