.input-censorship {
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    font-size: rem(21px);

    @include respond-to('large') {
        font-size: rem-l(21px);
    }
}

.arrow-down {
    width: vw(10px);
    height: auto;

    margin-left: vw(2px);
    
    @include respond-to('large') {
        width: vw-l(10px);

        margin-left: vw-l(3px);
    }
}

.label {
    display: inline-block;
    // margin-bottom: vw(50px);

    // @include respond-to('large') {
    //     margin-bottom: vw-l(60px);
    // }
}

.success-message-container {
    opacity: 0;

    margin-top: vw(10px);

    padding: vw(3px);

    color: $color-black;

    background-color: $color-white;

    @include respond-to('large') {
        margin-top: vw-l(10px);

        padding: vw-l(3px);
    }
}

.success-message-content {
    display: flex;

    justify-content: space-between;

    font-size: rem(21px);

    @include respond-to('large') {
        font-size: rem-l(21px);
    }
}

.censorship-range {
    position: relative;

    height: vw(20px);

    margin-top: vw(50px);

    padding: 1px;

    border: solid 1px white;

    cursor: pointer;

    @include respond-to('large') {
        height: vw-l(30px);

        margin-top: vw-l(25px);
    }
}

.censorship-progress-container {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.censorship-progress {
    width: 100%;
    height: 100%;

    background-color: white;

    transform-origin: left top;

    // transition: background-color 0.2s ease-in-out;

    // .is-off-range & {
    //     background-color: red;
    // }
}

.range-limit {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    height: vw(80px);

    margin: auto;

    // background-color: blue;

    @include respond-to('large') {
        height: vw-l(140px);
    }

    &::v-deep {
        path {
            transition: stroke 0.2s ease-in-out;
        }

        .is-off-range & {
            path {
                stroke: red;
            }
        }
    }
}

.current-censorship {
    position: absolute;
    top: 105%;
    left: 0;

    font-size: rem(12px);

    @include respond-to('large') {
        font-size: rem-l(12px);
    }
}

.cursor {
    display: flex;

    position: absolute;
    bottom: 100%;
    left: 0;

    justify-content: center;
    align-items: center;

    width: 1px;
    height: 100%;

    svg {
        // opacity: 0;

        width: vw(12px);
        min-width: vw(12px);
        height: auto;

        margin: auto;
        margin-right: 2px;

        @include respond-to('large') {
            width: vw-l(12px);
            min-width: vw-l(12px);
        }
    }

    path {
        transition: fill 0.2s ease-in-out;
    }

    .is-off-range & {
        path {
            fill: red
        }
    }
}