.credits {
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 100vh;

    padding-bottom: $footer-height;

    font-size: rem(25px);

    text-transform: uppercase;

    @include respond-to('large') {
        padding-bottom: $footer-height-l;

        font-size: rem-l(25px);
    }
}

.container {

}

.title {
    position: relative;

    width: vw(277px);
    height: vw(92px);

    margin-bottom: vw(65px);

    @include respond-to('large') {
        width: vw-l(277px);
        height: vw-l(92px);

        margin-bottom: vw-l(65px);
    }

    span {
        opacity: 0;

        position: absolute;

        right: 0;
        bottom: vw(16px);

        margin-left: vw(163px);

        @include respond-to('large') {
            right: vw-l(25px);
            bottom: vw-l(16px);
        }
    }
}

.content {
    padding-left: vw(163px);

    @include respond-to('large') {
        padding-left: vw-l(163px);
    }
}

.contrubutors-list-item {
    
}

.contributor-name {
    opacity: 0;

    display: inline-block;

    position: relative;
}

.contributor-roles-list {
    margin-top: vw(10px);
    margin-bottom: vw(10px);

    padding-left: vw(103px);

    @include respond-to('large') {
        margin-top: vw-l(10px);
        margin-bottom: vw-l(10px);

        padding-left: vw-l(103px);
    }
}

.contributor-role {
    display: inline-block;
    position: relative;

    color: transparent;

    &::v-deep {
        .highlight {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: $color-white;

            transform: scaleX(0);

            transform-origin: left top;
        }
    }
}