.canvas-size-helper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: content-height();

    overflow: hidden;
    
    pointer-events: none;

    @include respond-to('large') {
        height: content-height-l();
    }
}