.rich-text {
    &::v-deep {
        h1, h2, h3 {
            margin-top: vw-l(80px);
            margin-bottom: vw-l(80px);
        }

        p {
            min-height: 1em;

            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}