.rich-text {
    &::v-deep {
        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: rgba(255, 0, 0, 1);

            &:hover {
                color: rgba(180, 0, 0, 1);
            }
        }
    }

}