.block-quote {
       
}

.header {
    display: flex;

    margin-bottom: vw(30px);

    @include respond-to('large') {
        margin-bottom: vw-l(60px);
    }
}

.title {
    opacity: 0;

    margin-right: vw(10px);

    font-size: rem(16px);

    white-space: nowrap;

    @include respond-to('large') {
        margin-right: vw-l(30px);

        font-size: rem-l(16px);
    }
}

.line {
    opacity: 0;

    width: 100%;
    height: 0;

    margin-top: rem(10px);

    border-top: solid 1px white;

    @include respond-to('large') {
        margin-top: rem-l(10px);
    }
}

.text {
    &::v-deep {
        b {
            color: red;
        }

        .line {
            display: inline-block;
            position: relative;

            color: transparent;
        }

        .highlight {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 1em;

            background-color: $color-grey;
            // background-color: red;

            transform: scaleX(0);

            transform-origin: left top;
        }
    }
}