.tutorial {
    opacity: 0;
    
    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: content-height();

    padding: content-padding();

    background-color: black;

    @include respond-to('large') {
        height: content-height-l();

        padding: content-padding-l();
    }
}

.container {
    width: vw(180px);

    margin: auto;

    text-align: center;
    
    @include respond-to('large') {
        width: vw-l(650px);
    }
}

.paragraph {
    &::v-deep {
        b {
            color: red;
        }
    }
}