.lang-switch {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    height: 100%;
    overflow: hidden;

    font-size: rem(13px);
    text-transform: uppercase;

    cursor: default;

    @include respond-to('large') {
        font-size: rem-l(17px);
    }
}

.link {
    opacity: 0.5;

    padding: 50px 0;

    transition: opacity 0.05s ease-in-out;

    cursor: pointer;

    &.nuxt-link-active {
        opacity: 1;

        pointer-events: none;
    }

    @media (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }
}

.pipe {
    opacity: 0.5;
}